<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--flexible-space-minimized">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">Options</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <span class='mdc-toolbar__icon mdc-ripple-surface' {{action "download"}}>{{fa-icon 'download'}}</span>
      <span class='mdc-toolbar__icon mdc-ripple-surface' {{action "upload"}}>{{fa-icon 'upload'}}</span>
    </section>
  </div>
</header>
<main class="demo-main">
  <h1>^</h1>

  {{#mdc-list as |list|}}
    {{#list.item as |item|}}
      <label>
        {{mdc-switch checked=isSecondSwitchOn onchange=(action (mut isSecondSwitchOn))}}
        {{if isSecondSwitchOn 'On' 'Off'}}
      </label>
    {{/list.item}}
  {{/mdc-list}}
 </main>