<div class="component-doc flexible">
  {{#mdc-drawer as |drawer|}}
    {{#drawer.toolbar-spacer}}{{/drawer.toolbar-spacer}}
    {{#drawer.content}}
      {{#mdc-list-group as |group|}}
        {{#mdc-list tagName='nav' dense=true as |list|}}
          {{#list.item class=(if (eq currentRouteName 'faucets.index') "mdc-permanent-drawer--selected")}}
            {{fa-icon 'money-bill' class='mdc-list-item__start-detail' prefix='far'}} Faucets
          {{/list.item}}
          {{#list.item class=(if (eq currentRouteName 'options.index') "mdc-permanent-drawer--selected")}}
            {{fa-icon 'cogs' class='mdc-list-item__start-detail' prefix='far'}} Options
          {{/list.item}}
        {{/mdc-list}}
        {{group.divider}}
        {{#mdc-list tagName='nav' dense=true as |list|}}
          {{#list.item}}{{fa-icon 'coffee' class='mdc-list-item__start-detail' prefix='far'}} Donate{{/list.item}}
          {{#list.item}}{{fa-icon 'github' class='mdc-list-item__start-detail' prefix='fab'}} Github{{/list.item}}
        {{/mdc-list}}
      {{/mdc-list-group}}
    {{/drawer.content}}
  {{/mdc-drawer}}
  <div class="demo-content inner-flexible">
    {{outlet}}
  </div>
</div>
